$font-stack:    Montserrat, sans-serif
$primary-color: #333

body
  background-color: black
  color: white
  font: 100% $font-stack
img
  float: right
  margin-top: -75px
  margin-right: 535px
  z-index: 100

.header
  position: absolute
  margin-left: 20px
  float: left
  z-index: 100

.info
  //color: white
  font: 100% $font-stack
  float: right
  left: 1500px
  top: 65px
  font-weight: 700
  position: fixed
  background: white
  color: black
  padding: 2.5px 10px
  border-radius: 50%

h1
  font: 200% $font-stack
  font-weight: 400
  line-height: 1.6

.sod_label
  font: 200% $font-stack
  font-weight: 400

.tooltip
  visibility: hidden
  line-height: 5
  position: absolute
  text-align: left
  width: 130px
  padding-left: 5px
  padding-right: 5px
  padding-top: 3px
  padding-bottom: 4px
  color: black
  background: white
  border: 0px
  border-radius: 4px
  z-index: 100

.tooltip2
  visibility: hidden
  color: white

svg
  position: absolute
  .label
    font-weight: 400
    fill: #FFFFFF
