body
  background-color: black
  color: white
  h1
    margin-left: 20px

div.tooltip
  position: absolute
  text-align: left
  width: 120px
  height: 60px
  padding: 2px
  font: 12px sans-serif
  color: black
  background: white
  border: 0px
  border-radius: 8px

svg
  .label
    fill: #FFFFFF
