<div class="tooltip">
  <div class="arrow"></div>
</div>
<img src="Legend-02.svg" width="1000" height="300">
<div class="info">i</div>
<div class="header">
  <h1>
    Kino Toni </br>
    <select class="styled" id="select" name="select">
      <option class="val1" id="val1" value="value1">
        Programm
      </option>
      <option class="val2" id="val2" value="value1">
        Filmreihen
      </option>
    </select> Archiv
  </h1>
</div>
<svg class="main movie"></svg>
<div class="tooltip"></div>
