html
 head

body
  div class='tooltip'
  div class='header'
    h1 Kino Toni </br> <span>Programm</span> Archiv
  select name='select' id='select' class='styled'
    option value='value1' id='val1' class='val1' Programm
    option value='value1' id='val2' class='val2' Serie

  svg.main class ='movie'
   g
    circle
    div class='tooltip'

