
  <div class="tooltip">
    <div class="arrow"></div>
  </div>
  <div class="header">
    <h1>
      Kino Toni </br>
      <select class="styled" id="select" name="select">
        <option class="val1" id="val1" value="value1">
          Programm
        </option>
        <option class="val2" id="val2" value="value1">
          Filmserie
        </option>
      </select> Archiv
    </h1>
  </div>
  <svg class="main movie"></svg>
  <div class="tooltip"></div>


